.list-item {
    width: 100%;
    box-sizing: border-box;
    background: #ffffff88;
    border-radius: 8px;
    font-size: 22px;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin-bottom: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 700px) {
        padding: 0px 5px 0px 15px;
    }

    p {
        margin: 0;
        width: 100%;
        padding: 8px 0;

        @media (max-width: 700px) {
            padding: 12px 0;
        }
    }

    svg {
        fill: #5A5A5A;
        transition: all 0.5s ease-in-out;

        &:hover {
            fill: #00A3FF
        }
    }

    .dots-icon {
        padding-top: 9px;
    }

    .dots-icon>svg {
        transform: scale(1.5);
    }

    button {
        background: none repeat scroll 0 0 transparent;
        border: none;
        box-sizing: border-box;
        padding: 0 10px;
        cursor: pointer;
        height: 100%;
        padding: 5px;
        width: 30px;
    }
}

.active-list {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}