.home {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;

    &_left {
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        padding: 10px;
        width: 38%;
        background-color: white;
        height: 85vh;
        overflow: scroll;
    }

    &_right {
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        padding: 10px;
        width: 60%;
        background-color: white;
        text-align: center;


        &_container {
            display: flex;
            justify-content: space-between;

            button {
                background: none repeat scroll 0 0 transparent;
                border: none;
                padding: 0 10px;
                cursor: pointer;
                font-size: 40px;
                color: #5A5A5A;
            }


            // input {
            //     background-color: grey;
            // }
        }
    }

    &_divider {
        box-sizing: border-box;
        width: 100%;
        height: 2px;
        background-color: rgba(128, 128, 128, 0.447);
    }
}

.MuiDrawer-root>.MuiPaper-root {
    width: 500px;
    margin: 0 auto;
    border-radius: 8px 8px 0 0;
    overflow: 'visible';
    box-sizing: border-box;
    text-align: center;
    padding: 10px 10px 20px 10px;

    @media (max-width: 700px) {
        width: 100%;
    }
}

.radio_container {
    display: flex;
    margin: 10px auto 10px;
    transform: scale(1.5);
}

.touch_line {
    width: 60px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.634);
    margin: 0 auto;
}

.task_item {
    display: flex;
    justify-content: space-between;

    button {
        background: none repeat scroll 0 0 transparent;
        border: none;
        padding: 0 10px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 900;
        color: #5A5A5A;
    }

    input {
        height: 35px;
    }

    #dots {
        fill: #5A5A5A;
    }

    &_container {
        display: flex;
    }
}