@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300&display=swap');


.container {
    max-width: 1140px;
    min-width: 340px;
    margin: 10px auto;
    font-family: 'Rubik', sans-serif;

    @media (max-width: 450px) {
        padding: 0px 10px;
    }
}

.margin-top {
    margin-top: 10px;
}

h1 {
    font-size: 36px;
    color: #5A5A5A;
}

h2 {
    color: #5A5A5A;
}

p {
    color: #5A5A5A;
}

.italic {
    font-style: italic;
}